[user]
	name = leleuvilela
[includeIf "gitdir:~/dev/personal/"]
  path = .gitconfig-personal
[includeIf "gitdir:~/dev/farfetch/"]
  path = .gitconfig-farfetch

[core]
	editor = nvim

[alias]
    clone-wt = "!sh clone-wt"
